*{
	margin: 0%;
	padding: 0%;
}
body{
	background-color: #001f3f;
	width: 100%;

}
nav{
	display: inline-block;
}
ul {
    list-style-type: none;
    margin: .5vmax;
    padding-top: 5%;
    overflow: hidden;
    background-color: #333;
    font-family: 'Fjalla One', sans-serif;
}

li {
    float: left;
    font-family: 'Fjalla One', sans-serif;
    height: 100px;
    width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
}

li a:hover {
    background-color: #111;
}


h1{
	font-size:3vmax;
	text-align: center;
    font-family: 'Fjalla One', sans-serif;
}
#facepage{
	background-image: url('background.jpg');
	width: 100%;
	height: 700px;
	/*min-height: 600px;*/
	background-position: cover;
	/*border: 1px solid white;*/
	

}
.facepage{
	/*display: inline-block;
	margin-top:5%;
	margin-left: 14vmax; 
	margin-right: 1px auto;
	margin-bottom: 5%;*/
}
#main-photo{
	height: 23vmax;
	width: 23vmax;
    display: inline-block;
	border-radius: 60%;
	background-image: url('profile.jpg');
	background-position: cover;
	background-repeat: no-repeat;
	background-size: 100%;
	min-width: 8vmax;
	opacity: .1%;
	box-shadow: 5px 5px 5px 5px black;

	margin-top: 3%;
	margin-left: 14%;
	/*padding: 1px auto;*/
	/*margin: 1px auto;*/

}
#name{
	font-family: 'Libre Baskerville', serif;
	color: #B93A32;
	text-shadow:2px 2px black;
	font-size:4vmax;
	/*margin: auto;*/
	margin-left: 1vmax;
	border-bottom: 3px solid black;
	border-width: 5px;
    /*position: absolute;
	top: 12vmax;
	left: 40vmax;*/
	/*padding:auto;*/


}
#description-box{
	font-family: 'Libre Baskerville', serif;
	color: white;
	font-size:3vmax;
	
	margin-left:4vmax;
	text-shadow: 2px 2px #034F84;
	/*position: absolute;
	top:17vmax;
	left: 44vmax;*/
	/*margin: auto;
	padding:auto;*/


}
#icons{
	/*position: absolute;
	top: 20vmax;
	left: 48vmax;*/
	/*margin: auto;
	padding:auto;*/
	margin-left: 7vmax;

	
}
#name-wrapper{
	height: 40vmax;
	width: 40vmax;
	display: inline-block;
	/*position: absolute;
	top: 12vmax;
	left: 40vmax;*/
	font-size-adjust: 0.4;
    /*background-color: pink;*/
    /*border: 1px solid white;*/
   /*display: inline-block;*/
    margin-left: 1vmax;

   
}

#aboutme{
	width: 100%;
	height: 100%;
	/*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: white;

}
#projects{
	width: 100%;
	height: 100%;
    background-color: tan;

}
#contact{
	width: 100%;
	height: 600px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;


}
#aboutme-text{
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size:20pt;

}
#language_icons{
	/*margin-left: 2vmax;*/
    margin-top:7vmax;
    margin-right: 0px auto;
    text-align: center;
}
.devicon-html5-plain-wordmark{
	font-size: 5vmax;
}
.devicon-javascript-plain{
	font-size: 5vmax;
}
.devicon-heroku-plain-wordmark{
	font-size: 5vmax;
}
.devicon-rails-plain-wordmark{
	font-size:5vmax;

}
.devicon-ruby-plain{
	font-size: 5vmax;
}
.devicon-sass-original{
	font-size: 5vmax;
}
.devicon-slack-plain{
	font-size: 5vmax;
}
.devicon-ubuntu-plain-wordmark{
	font-size: 5vmax;
}
.devicon-git-plain-wordmark{
	font-size: 5vmax;
}
.devicon-css3-plain-wordmark{
	font-size: 5vmax;
}


#proj_title{
	color:#FFE4B5;
	font-family: 'Fjalla One', sans-serif;
}
#projects{
	background-color:#696969;


}
.projects{
	height: 20vmax;
	width: 30vmax;
	display: inline-block;
	margin-top:5%;
	margin-left: 14vmax; 
	margin-right: 1px auto;
	margin-bottom: 5%;
	background-color: #FFE4B5;
}
#proj-1{
	background-image: url('hangman.png');
	background-position: center;
	background-size: 100% 100%;

}
#proj-2{
	background-image: url('hexclock (1).png');
	background-position: center;
	background-size: 100% 100%;
}
#proj-3{
	background-image: url('jukebox.png');
	background-position: center;
	background-size: 100% 100%;
	
}
#proj-4{
	background-image: url('towers-defense.png');
	background-position: center;
	background-size: 100% 100%;
	
}
#proj-5{
	background-image: url('theblogging.png');
	background-position: center;
	background-size: 100% 100%;

}
#proj-6{
	background-image: url('cert.png');
	background-position: center;
	background-size: 100% 100%;

}
#cont_title{
	color:#FFE4B5; 
	font-family: 'Fjalla One', sans-serif;
}
#contact{
	background-color: #708090;
}
